{%extends 'base_layout.html'%}

{%block content%}
{% load static %}

  <link href="{% static 'aplicacion1/style.css' %}" rel="stylesheet" type="text/css" />

<body>

  <main>
	  <aside>
      <h1>handmade shop & more </h1>
      
        <div class="linea"></div>
          <div class="contenedor-imagenes">
              <div class="imagen">
                  <img src="{% static 'aplicacion1/images/embroidery2.png'%}" class="img-fluid" alt="embroidery2.png">
              </div>
              <div class="imagen">
                  <img src="{% static 'aplicacion1/images/crochet.jpg'%}" class="img-fluid" alt="crochet.jpg">
              </div>
              <div class="imagen">
                  <img src="{% static 'aplicacion1/images/knitting.jpg'%}" class="img-fluid" alt="knitting.jpg">
              </div>
          </div>
        </div>
	  </aside>

  </main>

</body>
{%endblock content%}

