{%extends 'base_layout.html'%}{%block content%}


<body >
<div id="tabla_usuarios">
<header>
  <h1>Mensajes</h1> 
</header>

    <table id="example" class="stripe" > 
      <thead>
     
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>    
          <th>E-mail</th>
          <th>Mensaje</th>
          <th>Opciones</th>
        </tr>
      
      </thead>
     
      
      <tbody>
        {% for men in correo %}
        <tr>
          <td>{{men.id}}</td>
          <td>{{men.nombre}}</td>
          <td>{{men.apellido}}</td>
          <td>{{men.email}}</td>
          <td>{{men.mensaje}}</td>
          <td><a href="/eliminar_mensaje/{{men.id}}">eliminar</a> | <a href="/editar_mensaje/{{men.id}}">editar</a></td>
        </tr>
        {% endfor %} 
      </tbody>

      <tfoot>
    
      </tfoot> 
    </table>
</div>
</body>

</html>
{%endblock content%}  

