{%extends 'base_layout.html'%}{%block content%}


<body >

  <script>

    function modal_eliminar(id) {
      Swal.fire ({
        title: 'estas seguro?',
        text: "esta accion no se puede deshacer",
        icon: 'question',
        showCancelButton: true,
        cancelButtonText: 'No',
        showConfirmButton: true,
        confirmButtonText: 'Si, borrar'
     
      })
      .then (function(result) {
          if (result.isConfirmed) {
            window.location.href = "/eliminar_mensaje/"+id
          }
  
      })
      
    }
  
  </script>


<div id="tabla_usuarios">
<header>
  <h1>Mensajes</h1> 
</header>

    <table id="example" class="stripe" > 
      <thead>
     
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>    
          <th>E-mail</th>
          <th>Mensaje</th>
          <th>Opciones</th>
        </tr>
      
      </thead>
     
      
      <tbody>
        {% for men in correo %}
        <tr>
          <td>{{men.id}}</td>
          <td>{{men.nombre}}</td>
          <td>{{men.apellido}}</td>
          <td>{{men.email}}</td>
          <td>{{men.mensaje}}</td>
          <td>
            <button id="btn-4"><a id="editar"  <a href="/editar_mensaje/{{men.id}}">editar</a></button> 
            <button id="btn-4"  href ='#' onclick="modal_eliminar({{men.id}})">eliminar</button> 
          </td>
        </tr>
        {% endfor %} 
      </tbody>


      <tfoot>
    
      </tfoot> 
    </table>
</div>
</body>

</html>
{%endblock content%}  

