{%extends 'base_layout.html'%}
{%block content%}


<main>
  <div class="container">

  <div class="table-responsive text-nowrap">
  <h2 style='color: rgb(148, 145, 138)'>Resumen de Orden</h2>
  <table style='color: rgb(148, 145, 138)' class="table">
      <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Total</th>
      </tr>
      </thead>
      <tbody>
      {% for order_item in object.items.all %}
      <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ order_item.item.nombre }}</td>
          <td>{{ order_item.item.precio |floatformat:"0" }}</td>
          <td>
              <a href="{% url 'remove-single-item-from-cart' order_item.item.slug %}"><i style='color: rgb(148, 145, 138)'class="fas fa-minus mr-2 fa-xs"></i></a>
              {{ order_item.quantity }}
              <a href="{% url 'add-to-cart' order_item.item.slug %}"><i style='color: rgb(148, 145, 138)' class="fas fa-plus ml-2 fa-xs"></i></a>
          </td>
          <td>
              ${{ order_item.get_total_item_price | floatformat:"0" }}

          <a id="trash_can" style='color: rgb(148, 145, 138)' href="{% url 'remove-from-cart' order_item.item.slug %}">
              <i class="fas fa-trash float-right fa-xs"></i>
          </a>
          </td>
      </tr>
      {% empty %}
      <tr>
          <td colspan='5'>Your cart is empty</td>
      </tr>
      <tr>
          <td colspan="5">
          <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
          </td>
      </tr>
      {% endfor %}
     
      {% if object.get_total %}
      <tr>
          <td colspan="4"><b>Total</b></td>
          <td><b>${{ object.get_total | floatformat:"0"}}</b></td>
      </tr>
      <tr>
          <td colspan="5">
          <a id= "btn-5" class='btn btn-warning float-right ml-2' href='/checkout/'>Finalizar compra</a>
          <a id= "btn-6"class='btn btn-primary float-right' href="{% url 'producto_display' %}">Seguir comprando</a>
          </td>
      </tr>
      {% endif %}
      </tbody>
  </table>

  </div>

  </div>
</main>
{%endblock content%}  

