{%extends 'base_layout.html'%}{%block content%}
{% load static %}


<body>

  <script>

    function modal_eliminar(id) {
      Swal.fire ({
        title: 'estas seguro?',
        text: "esta accion no se puede deshacer",
        icon: 'question',
        showCancelButton: true,
        cancelButtonText: 'No',
        showConfirmButton: true,
        confirmButtonText: 'Si, borrar'
     
      })
      .then (function(result) {
          if (result.isConfirmed) {
            window.location.href = "/eliminar_producto/"+id
          }
  
      })
      
    }
  
  </script>


    <div id="tabla_usuarios">
        <header>
          <h1>Productos</h1>
        </header>
        <div>
          <a href="{% url 'export_excel' %}" class = "btn btn-primary" id='btn-11'> Exportar a Excel </a>
        </div>
           
                <table id="example" class="stripe"> 
                  <thead>
                 
                    <tr>
                      <th>ID</th>
                      <th>nombre</th>
                      <th>descripcion</th>
                      <th>precio</th>
                      <th>clasificacion</th>
                      <th>codigo</th>
                      <th>etiqueta</th>
                      <th>color</th>
                      <th>opciones</th>


                    </tr>
                  
                  </thead>
                  <tbody>
                    {% for prod in data %}
                    <tr>
                      <td>{{prod.id}}</td>
                      <td>{{prod.nombre}}</td>
                      <td>{{prod.descripcion}}</td>
                      <td>{{prod.precio| floatformat:"0"}}</td>
                      <td>{{prod.clasificacion.nombre}}</td>
                      <td>{{prod.codigo.codigo}}</td>
                      <td>{{prod.slug}}</td>
                      <td>
                        {% for col in  prod.color.all %}
                          {{col.color}}
                        {% endfor %}
                      </td>
                      <td>
                        <button id="btn-4"><a id="editar" href="/editar_producto/{{prod.id}}">editar</a></button>
                        <button id="btn-4" href ='#' onclick="modal_eliminar({{prod.id}})">eliminar</button>  
                      </td>

                    </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                
                  </tfoot> 
                </table>

    </div>
</body>
  
  

{%endblock content%}
