{%extends 'base_layout.html'%}{%block content%}
{% load static %}


<body>
    <div id="tabla_usuarios">
        <header>
          <h1>Productos</h1>
        </header>
           
                <table id="example" class="stripe"> 
                  <thead>
                 
                    <tr>
                      <th>nombre</th>
                      <th>descripcion</th>
                      <th>precio</th>
                      <th>clasificacion</th>
                      <th>codigo</th>
                      <th>color</th>


                    </tr>
                  
                  </thead>
                  <tbody>
                    {% for prod in data %}
                    <tr>
                      <td>{{prod.nombre}}</td>
                      <td>{{prod.descripcion}}</td>
                      <td>{{prod.precio}}</td>
                      <td>{{prod.clasificacion.nombre}}</td>
                      <td>{{prod.codigo.codigo}}</td>
                      <td>
                        {% for col in  prod.color.all %}
                          {{col.color}}
                        {% endfor %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                
                  </tfoot> 
                </table>

    </div>
</body>
  
  

{%endblock content%}
