{%extends 'base_layout.html'%}

{%block content%}
<header>
    <h1>Registro de Usuario</h1> 
    Registro de usuario - puede ser cliente/staff
</header>

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
      <div class="col-9">
    <form action="/register/" method="POST">
    {% csrf_token %}
    <div id="form_register"> 
        <div class="row">
            <div class="col-6">
              {{ form.username|as_crispy_field }}
            </div>
            <div class="col-6">
              {{ form.email|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.password1|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.password2|as_crispy_field }}
              </div>

        </div>

    </div>
    </div>
</div>
</div>
    <button id="btn-2" class="btn btn-outline-dark" type="submit">Registrarse</button>
</form>

{%endblock content%}
