{%extends 'base_layout.html'%}{%block content%}


<body >
<div id="tabla_usuarios">
<header>
  <h1 data-toggle="tooltip" title="Listado de usuarios no registrados (solo que han ingresado datos en formulario de contacto)">Usuarios</h1> 
</header>

    <table id="example" class="stripe"> 
      <thead>
     
        <tr>
          <th>RUT</th>
          <th>Nombre</th>
          <th>Apellido</th>    
          <th>Edad</th>
          <th>E-mail</th>
          <th>Contacto</th>
        </tr>
      
      </thead>
      <tbody>
        {% for cli in data %}
        <tr>
          <td>{{cli.rut}}</td>
          <td>{{cli.nombre}}</td>
          <td>{{cli.apellido}}</td>
          <td>{{cli.edad}}</td>
          <td>{{cli.email}}</td>
          <td>{{cli.receive_newsletter}}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
    
      </tfoot> 
    </table>
</div>
</body>

</html>
{%endblock content%}  

